{%  load static %}
{%  load hub_portal_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders for CS</title>
    <link rel="stylesheet" href="{% static 'css/cs_table.css' %}" />
</head>
<body>
<div class="filter">
    <form action="{% url 'hub_portal:orders_cs' %}" method="get">
        <label for="filter_date">Delivery date ---> </label>
        <input id="delivery_date" name = "filter_date" type="date" value="{{ filter_date }}">
        <label for="filter_productCategory"> Product category ---> </label>
        <select name="filter_productCategory" id="">
                <option {% if filter_productCategory == 'ALL' %} selected {% endif %} value="ALL">ALL</option>
            {% for product_category in product_categories %}
                <option {% if filter_productCategory == product_category.name %} selected {% endif %} value="{{ product_category.name }}">{{ product_category.description }}</option>
            {% endfor %}
        </select>
        <label for="filter_hub">Hub ---> </label>
        <select name="filter_hub" id="">
                <option {% if filter_hub == 'ALL' %} selected {% endif %} value="ALL">ALL</option>
            {% for hub in hubs %}
                <option {% if filter_hub == hub.name %} selected {% endif %} value="{{ hub.name }}">{{ hub.erpname }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Filter">
        <hr>
    </form>
</div>
<div>
    <table>
    <thead>
        <tr>
            <th colspan="2">Orders for SC</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th> № Заказа</th>
            <th> Хаб </th>
            <th> Продажа/Возврат</th>
            <th> Тип стока </th>
            <th> Delivery Date </th>
            <th> Собственник </th>
            <th> Тип стока</th>
            <th> Статус заказа </th>
            {% if user_group == 'CS' %}
                <th> xlxs link </th>
                <th> Кто скачивал </th>
            {% elif user_group == 'BCP' %}
                <th> uids link</th>
            {% endif %}
        </tr>
        {% for order in object_list %}
        <tr>
            <td class = "td_table" > --- {{ order.order }} --- </td>
            <td> {{ order.hub.erpname }} </td>
            <td>Продажа</td>
            <td> {{ order.productCategory|product_category_name }}</td>
            <td> {{ order.buyoutDate|date:'d.m.Y' }} </td>
            <td> {{ order.saleType|order_sale_type }}</td>
            <td> {{ order.contractType|order_contract_type }}</td>
            {% if order.status == 2 %} <td> Проверка завершена </td>
            {% elif order.status == 1 %} <td> Проверяется ... </td>
            {% elif order.status == 0 %} <td> Не проверен </td>
            {% elif order.status == 4 %} <td> ПОДОЗРЕНИЕ НА ОШИБКУ </td>
            {% endif %}
            {% if order.status == 2 %}
                {% if user_group == 'CS' %}
                    <td><a href="{% url 'hub_portal:cs_excel' order.pk %}">{{ order.order }}</a></td>
                    <td>{{ order.downloadedBy.username }}</td>
                {% elif user_group == 'BCP' %}
                    {% if order.traceability == True %}
                        <td><a href="{% url 'hub_portal:bcp_excel' order.pk%}">{{ order.order }}</a></td>
                    {% endif %}
                {% endif %}
            {%  endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>